@import "tailwindcss";

@font-face {
  font-family: 'Catfiles';
  src: url('/fonts/Catfiles.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  /*background: #171717;*/
  background: #000000;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}
